 /* project-02 */
 @media (max-width:768px){
  .boxes-sec3 {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  .box-images2 {
      width: 65%;
      margin: 10px 55px;
  }
  .box-4 {
      width: 85%;
      margin: 10px 17px;
  } 
  .contact-head{
    text-align: center;
}
.contact-head h1{
    padding: 20px 0;
}
    .footer-paras{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .footer-paras h1{
        text-align: center;
    }
    .finish-1{
        text-align: center;
    }

}